@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');

$primary-font: 'Open Sans', sans-serif;
$second-font: 'Prata', serif;
$primary-color: #8433AC;
$secondary-color: #c199d5;
$trim-color: #E4E1DF;
$accent-color: #77dd77;
$white: #FBFBFC;
$black: #0E0F12;

// Border Radius 15px

// MEdia Queries
$small-screen: 768px;
$big-screen: 1024px;