/* Border Radius 15px*/
/* MEdia Queries*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.dropdown-menu {
  overflow: inherit; }

h1 {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1.5% auto; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    h1 {
      font-size: 30px; } }
  @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    h1 {
      font-size: 38px; } }
  @media only screen and (min-device-width: 1024px) {
    h1 {
      font-size: 45px; } }

h2 {
  font-family: Helvetica, sans-serif;
  text-decoration: none; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    h2 {
      font-size: 26px; } }
  @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    h2 {
      font-size: 34px; } }
  @media only screen and (min-device-width: 1024px) {
    h2 {
      font-size: 38px; } }

h3, h4 {
  font-family: Helvetica, sans-serif;
  text-decoration: none; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    h3, h4 {
      font-size: 22px; } }
  @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    h3, h4 {
      font-size: 30px; } }
  @media only screen and (min-device-width: 1024px) {
    h3, h4 {
      font-size: 35px; } }

h5, h6 {
  font-family: Helvetica, sans-serif;
  text-decoration: none; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    h5, h6 {
      font-size: 18px; } }
  @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    h5, h6 {
      font-size: 24px; } }
  @media only screen and (min-device-width: 1024px) {
    h5, h6 {
      font-size: 30px; } }

a {
  text-decoration: none; }

p, input, button, li, button, input {
  font-family: Arial, serif;
  text-decoration: none; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    p, input, button, li, button, input {
      font-size: 16px; } }
  @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    p, input, button, li, button, input {
      font-size: 18px; } }
  @media only screen and (min-device-width: 1024px) {
    p, input, button, li, button, input {
      font-size: 20px; } }

/* SiteWide */
html, body {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: absolute;
  background-color: #FFFFFF;
  scroll-behavior: smooth; }

/* Navigation*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 1000; }
  header nav {
    width: 100%;
    height: 100%;
    padding: auto;
    margin: 0; }
    header nav ul {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      header nav ul li {
        width: auto;
        height: auto;
        padding: 0;
        margin: 1rem 5rem 1rem 5rem;
        color: #FFFFFF;
        text-decoration: none;
        list-style-type: none; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          header nav ul li {
            margin: 1rem auto; } }
        header nav ul li a {
          color: #FFFFFF;
          text-decoration: none; }
          header nav ul li a:hover {
            color: #FFCC01;
            text-decoration: none;
            text-underline-position: none; }

#butterfly {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15px;
  left: 15px; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    #butterfly {
      display: none; } }

/* Footer*/
.footer {
  border-top: 5px solid #FFCC01;
  background-color: #2D2E2D;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0 0 0; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    .footer {
      height: auto; }
      .footer #navigation {
        height: auto;
        width: 50%;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        min-width: 50%; }
        .footer #navigation h5 {
          height: 10%;
          margin: 0;
          padding: 0; }
        .footer #navigation .links {
          height: 90%;
          margin: 5px; }
          .footer #navigation .links a {
            margin: 5px; }
      .footer #legalContact {
        height: auto;
        width: 50%;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        min-width: 50%; }
        .footer #legalContact h5 {
          height: 10%;
          margin: 0;
          padding: 0; }
        .footer #legalContact .links {
          margin: 5px;
          height: 90%; }
          .footer #legalContact .links a {
            margin: 5px; }
      .footer #about {
        padding: 5px;
        margin: 5px;
        height: auto;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
        min-width: 100%;
        text-align: center; }
        .footer #about h5 {
          height: 10%;
          margin: 5px auto;
          padding: 0;
          text-align: center; }
        .footer #about .links {
          height: 90%;
          text-align: left;
          margin: 5px; } }
  .footer #socialMedia {
    width: 100%; }
  .footer #navigation {
    width: 22.5%;
    min-width: 22.5%; }
    .footer #navigation h5 {
      text-align: center;
      width: 100%;
      margin: 0 auto; }
  .footer #legalContact {
    width: 22.5%;
    min-width: 22.5%; }
    .footer #legalContact h5 {
      text-align: center;
      width: 100%;
      margin: 0 auto; }
  .footer #about {
    width: 55%;
    min-width: 55%; }
    .footer #about h5 {
      width: 75%;
      min-height: 25%;
      text-align: left;
      margin: 0 auto;
      font-family: Helvetica, sans-serif;
      text-decoration: none; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        .footer #about h5 {
          font-size: 18px; } }
      @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
        .footer #about h5 {
          font-size: 24px; } }
      @media only screen and (min-device-width: 1024px) {
        .footer #about h5 {
          font-size: 30px; } }
    .footer #about .links {
      min-height: 75%; }
      .footer #about .links a {
        font-size: 16px;
        width: 75%;
        text-decoration: none;
        color: #FFFFFF;
        cursor: default;
        line-height: 1.5; }
  .footer section {
    background-color: #2D2E2D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30vh; }
    .footer section h5 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: 25%;
      font-family: Helvetica, sans-serif;
      text-decoration: none;
      margin: 0;
      padding: 0;
      color: #FFFFFF; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        .footer section h5 {
          font-size: 18px; } }
      @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
        .footer section h5 {
          font-size: 24px; } }
      @media only screen and (min-device-width: 1024px) {
        .footer section h5 {
          font-size: 30px; } }
    .footer section .links {
      width: 100%;
      height: 75%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center; }
      .footer section .links .link {
        font-family: Arial, serif;
        text-decoration: none;
        text-decoration: none;
        color: #FFFFFF;
        margin: 5px; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          .footer section .links .link {
            font-size: 16px; } }
        @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
          .footer section .links .link {
            font-size: 18px; } }
        @media only screen and (min-device-width: 1024px) {
          .footer section .links .link {
            font-size: 20px; } }
        .footer section .links .link:hover {
          color: #FFCC01; }
      .footer section .links .deadLink {
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        text-decoration: none; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          .footer section .links .deadLink {
            font-size: 18px; } }
        @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
          .footer section .links .deadLink {
            font-size: 24px; } }
        @media only screen and (min-device-width: 1024px) {
          .footer section .links .deadLink {
            font-size: 30px; } }

#variable {
  background-color: #2D2E2D;
  width: 100%;
  min-width: 100%; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    #variable {
      background-color: #2D2E2D;
      width: 80%;
      margin: 0 auto; } }
  #variable #mc_embed_signup {
    background-color: #2D2E2D;
    width: 100%; }
    #variable #mc_embed_signup form {
      width: 80%;
      background-color: #2D2E2D;
      margin: 0 auto; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        #variable #mc_embed_signup form {
          width: 100%;
          margin: 0 auto; } }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      #variable #mc_embed_signup {
        background-color: #2D2E2D;
        width: 100%;
        margin: 0 auto; } }

.sectionFooter {
  background-color: #2D2E2D;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .sectionFooter ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    list-style-type: none; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      .sectionFooter ul {
        width: 100%;
        margin: 0;
        padding: 0; } }
    .sectionFooter ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0; }
      .sectionFooter ul li a {
        text-align: center;
        font-size: 5rem;
        margin: 0 auto;
        color: #FFCC01; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          .sectionFooter ul li a {
            font-size: 2.5rem;
            margin: 0 2rem 0 2rem; } }

.bottomRow {
  background-color: #2D2E2D;
  width: 100%;
  height: auto;
  position: relative; }
  .bottomRow .copyrightInformation p {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF; }
    .bottomRow .copyrightInformation p #footerFleur {
      font-size: 12px;
      text-decoration: none;
      color: #FFCC01; }
      .bottomRow .copyrightInformation p #footerFleur:hover {
        color: #FFFFFF;
        text-decoration: underline; }

#newsHead {
  color: #FFFFFF; }

.navLink {
  color: #FFFFFF; }

main {
  padding: 0;
  margin: 0; }

#sectionMain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    #sectionMain {
      height: 100vh; } }
  #sectionMain #heroImageOverlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%; }
    #sectionMain #heroImageOverlay #heroImage {
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/aboutHeroImage.jpg");
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        #sectionMain #heroImageOverlay #heroImage {
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/aboutHeroMobile.jpg");
          background-size: cover; } }
      #sectionMain #heroImageOverlay #heroImage h1 {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin: 5% 0 0 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        color: #FFFFFF; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          #sectionMain #heroImageOverlay #heroImage h1 {
            width: 85%;
            font-family: Helvetica, sans-serif;
            text-decoration: none; } }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) and (min-device-width: 1px) and (max-device-width: 768px) {
    #sectionMain #heroImageOverlay #heroImage h1 {
      font-size: 30px; } }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) and (mmin-device-width: 769px) and (max-device-width: 1023px) {
    #sectionMain #heroImageOverlay #heroImage h1 {
      font-size: 38px; } }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) and (min-device-width: 1024px) {
    #sectionMain #heroImageOverlay #heroImage h1 {
      font-size: 45px; } }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          #sectionMain #heroImageOverlay #heroImage h1 {
            font-size: 30px; } }
        @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
          #sectionMain #heroImageOverlay #heroImage h1 {
            font-size: 38px; } }
        @media only screen and (min-device-width: 1024px) {
          #sectionMain #heroImageOverlay #heroImage h1 {
            font-size: 45px; } }
      #sectionMain #heroImageOverlay #heroImage .sloganPara {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          #sectionMain #heroImageOverlay #heroImage .sloganPara {
            width: 85%; } }
        #sectionMain #heroImageOverlay #heroImage .sloganPara p {
          width: 60%;
          position: relative;
          color: #FFFFFF;
          font-family: Arial, serif;
          text-decoration: none;
          text-align: center;
          margin: 0 auto; }
          @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
            #sectionMain #heroImageOverlay #heroImage .sloganPara p {
              font-size: 16px; } }
          @media only screen and (mmin-device-width: 769px) and (max-device-width: 1023px) {
            #sectionMain #heroImageOverlay #heroImage .sloganPara p {
              font-size: 18px; } }
          @media only screen and (min-device-width: 1024px) {
            #sectionMain #heroImageOverlay #heroImage .sloganPara p {
              font-size: 20px; } }

section {
  width: 100%; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    section h2 {
      width: 100%;
      margin: 0 auto;
      text-align: center; } }

.fullScreenText {
  border-top: 5px solid #FFCC01;
  border-bottom: 5px solid #FFCC01;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-ite5s: center;
  justify-content: center; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    .fullScreenText {
      height: auto;
      min-height: 100%;
      padding: 2.5% 0 2.5% 0; } }
  .fullScreenText h2 {
    text-align: center; }
  .fullScreenText .areaSection, .fullScreenText #mission, .fullScreenText #difference {
    text-align: center;
    width: 60%; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      .fullScreenText .areaSection, .fullScreenText #mission, .fullScreenText #difference {
        width: 85%;
        text-align: left;
        margin: 0 auto; } }

.twoQuotes {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    .twoQuotes {
      width: 85%;
      margin: 0 auto; } }
  .twoQuotes .quoteContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
    width: 45%;
    min-height: 75vh;
    height: 75%; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      .twoQuotes .quoteContainer {
        width: 100%;
        height: auto;
        min-height: 60vh; } }
    .twoQuotes .quoteContainer .borderContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 20%;
      width: 80%;
      height: 80%;
      border: none; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        .twoQuotes .quoteContainer .borderContainer {
          padding: 15%; } }
      .twoQuotes .quoteContainer .borderContainer h3 {
        color: #FFFFFF;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
          .twoQuotes .quoteContainer .borderContainer h3 {
            text-align: center;
            width: 100%; } }
      .twoQuotes .quoteContainer .borderContainer p {
        color: #FFFFFF;
        text-align: center;
        margin: 15px;
        width: 150%; }
      .twoQuotes .quoteContainer .borderContainer .quoteText {
        visibility: hidden; }

#rebeccaSection {
  height: auto;
  min-height: 115vh; }
  #rebeccaSection .splitImageSection img {
    width: 50%;
    height: auto;
    box-shadow: 0 1px 6px #FFFFFF, 0 1px 4px #FFFFFF; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      #rebeccaSection .splitImageSection img {
        margin: 10px 0 0 0; } }

#mhasfSection .splitImageSection a {
  width: 50%;
  height: 50%; }
  #mhasfSection .splitImageSection a img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 6px #FFFFFF, 0 1px 4px #FFFFFF; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      #mhasfSection .splitImageSection a img {
        margin: 10px 0 0 0; } }

.splitScreen {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2D2E2D; }
  .splitScreen .splitImageSection {
    width: 35%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      .splitScreen .splitImageSection {
        width: 100%;
        height: auto; } }
  .splitScreen .splitTextSection {
    width: 65%;
    height: 100%; }
    @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
      .splitScreen .splitTextSection {
        width: 100%;
        height: auto; } }
    .splitScreen .splitTextSection .splitTitle {
      color: #FFFFFF;
      margin: 0 0 5px 0;
      border-bottom: 5px solid #FFCC01;
      width: 75%; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        .splitScreen .splitTextSection .splitTitle {
          height: auto;
          width: 85%;
          text-align: center;
          margin: 0 auto;
          padding-top: 5px; } }
    .splitScreen .splitTextSection .splitText {
      color: #FFFFFF;
      width: 75%; }
      @media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
        .splitScreen .splitTextSection .splitText {
          padding: 10px 0 0 10px;
          height: auto;
          width: 85%;
          text-align: center;
          margin: 10px auto; } }

#quoteContainerOne {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteTwo.jpg");
  background-size: cover; }

#quoteContainerTwo {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteOne.jpg");
  background-size: cover; }

#quoteContainerThree {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteThree.jpg");
  background-size: cover; }

#quoteContainerFour {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteSix.jpg");
  background-size: cover; }

#quoteContainerFive {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteFive.jpg");
  background-size: cover; }

#quoteContainerSix {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/quoteFour.jpg");
  background-size: cover; }
