@import 'siteWide';

/* MAIN SECTION */
.navLink {
	color: $white;
}
#sectionMain {
	position: relative;
	top: 0;
	padding: 2.5% 0 2.5% 0;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	padding: 2.5% 0 2.5% 0;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
	background: -webkit-gradient(
          linear,
          left top, left bottom,
          from(rgba(0, 0, 0, 0.45)),
          to(rgba(0, 0, 0, 0.45))
        ), url('/images/heroImageOne.jpg');
	background: -webkit-linear-gradient(
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.45)
        ), url('/images/heroImageOne.jpg');
	background: -o-linear-gradient(
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.45)
        ), url('/images/heroImageOne.jpg');
	background: linear-gradient(
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.45)
        ), url('/images/heroImageOne.jpg');
	background-position: center;
	background-size: cover;
	@include flexbox;
	@include flexcol(nowrap);

	@include flexbox;
	@include flexcol(nowrap);

	.centerPara {
		height: 100%;
		@include flexbox;
		@include flexcol(nowrap);
		-webkit-align-self: center;
		    -ms-flex-item-align: center;
		            -ms-grid-row-align: center;
		        align-self: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: auto;
		h1 {
			-webkit-align-self: center;
			    -ms-flex-item-align: center;
			            -ms-grid-row-align: center;
			        align-self: center;
			text-align: center;
			color: $white;
			padding: 0 0 4% 0;
			@include headerfont;
			margin: 6% 0 0 0;
		}
		.sloganPara {
			-webkit-align-self: center;
			    -ms-flex-item-align: center;
			            -ms-grid-row-align: center;
			        align-self: center;
			width: 100%;
			@include respond(mobile) {
				width: 85%;
			}
			position: relative;
			p {
				width: 80%;
				position: relative;
				color: $white;
				@include header-five-six;
				text-align: center;
				margin: 2% auto 2% auto;
			}
			h2 {
				width: 80%;
				position: relative;
				color: $white;
				@include header-three-four;
				text-align: center;
				margin: 2% auto 2% auto;
			}
		}
	}
}
