@import 'siteWide';

.titleSection {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: $black;
	@include flexbox;
	@include flexcol(nowrap);
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	h4 {
		margin: 15px 0 15px 0;
		text-align: center;
		width: 100%;
		height: auto;
		@include headerfont;
		color: $white;
	}
	img {
		height: 350px;
		width: auto;
	}
}

.content {
	a {
		@include respond(mobile) {
			width: 85%;
		}
		width: 65%;
		margin: 0 auto;
		padding: 3rem 0 1rem 0;
		color: $black;
	}
	width: 100%;
	height: auto;
	@include flexbox;
	@include flexcol(nowrap);
	margin: 0;
	padding: 0;
	background-color: $white;
	.titleContainer {
		width: 100%;
		height: auto;
		overflow-x: none;
		margin: 0;
		padding: 0;
		@include flexbox;
		@include flexcol(wrap);
		.title {
			@include respond(mobile) {
				width: 85%;
			}
			width: 65%;
			-webkit-align-self: center;
			    -ms-flex-item-align: center;
			            -ms-grid-row-align: center;
			        align-self: center;
			margin: 0;
			padding: 0 0 1rem 0;
			@include headerfont;
			color: $black;
		}
	}
	.contentContainer {
		width: 100%;
		height: auto;
		overflow-x: none;
		margin: 0;
		padding: 0;
		@include flexbox;
		@include flexcol(wrap);
		.newParagraph {
			@include respond(mobile) {
				width: 85%;
			}
			-webkit-align-self: flex-start;
			    -ms-flex-item-align: start;
			        align-self: flex-start;
			width: 65%;
			margin: 0 auto;
			padding: .5rem;
			text-align: left;
			font-weight: 600;
			@include normalfont;
			line-height: 1.5;
			p {	
				text-align: left;
				font-weight: 600;
				@include normalfont;
				line-height: 1.5;
			}
		}
	}
	.bottomContainer {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
		overflow: none;
		@include flexbox;
		@include flexcol(nowrap);
		p {
			@include respond(mobile) {
				width: 85%;
			}
			width: 65%;
			margin: 0 auto;
		}
	}

}


header nav ul li a {
	color: $white;
}