footer.footer
	section#legalContact
		h5 Legal
		.links
			a.link(href='/privacy-policy') Privacy
			a.link(href='/terms-and-conditions') Terms
			a.link(href='mailto:rebecca@thebetterbecauseproject.org') Email
	section#about
		h5 About the Project
		.links
			a(href='#').link The mission of The Better Because Project is to inspire people through stories about how we’ve changed for the better because of what we’ve gone through with our mental health experiences and about the growth and fulfillment that can come with these journeys.
section#variable
	// Begin Mailchimp Signup Form
	link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css', rel='stylesheet', type='text/css')
	style(type='text/css').
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
		/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
		We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	style(type='text/css').
		#mc_embed_signup input.email {width: 250px;}
		#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
		#mergeRow-gdpr {margin-top: 20px;}
		#mergeRow-gdpr fieldset label {font-weight: normal;}
		#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
	#mc_embed_signup
		form#mc-embedded-subscribe-form.validate(action='https://thebetterbecauseproject.us20.list-manage.com/subscribe/post?u=bdb13cb4442f3c1839cb4e2f5&id=e5ab25e90d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
			#mc_embed_signup_scroll
				label(for='mce-EMAIL')
				input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Sign up to our newsletter', required='')
				// real people should not fill this in and expect good things - do not remove this or risk form bot signups
				div(style='position: absolute; left: -5000px;', aria-hidden='true')
					input(type='text', name='b_bdb13cb4442f3c1839cb4e2f5_e5ab25e90d', tabindex='-1', value='')
				.clear
					input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
	// End mc_embed_signup
section#socialMedia.sectionFooter
	ul#socialMediaSection
			li.mediaOutlet
				a(href='https://www.facebook.com/thebetterbecauseproject', target='_blank').fab.fa-facebook
.bottomRow
	.copyrightInformation
		p.copyright 
			| Copyright &copy; 2019 The Better Because Project.  All rights reserved.
			a#footerFleur(href='https://fleurtechnologies.com')  | Powered By Fleur Technologies
block postFooter
	script(src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp")