header
	nav
		img#butterfly(src='/images/betterBecauseProjectLogoBlackOnYellow.png')
		ul
			li
				a.navLink(href='/') Home
			li#aboutLink
				a.navLink(href='/about') About
			li#storiesLink
				a.navLink(href='/stories') Stories
