extends partials/layout
block inlineCSS
	link(href='/sass/about.css', rel='stylesheet')
block content
	include partials/navigation
	div#pageCheck
		#sectionMain
			#heroImageOverlay
				#heroImage
					h1 The Better Because Project
					.sloganPara
						h4 About the Project
						p.areaSectionText
							| The Better Because Project is providing hope through stories about how we’ve changed for the better because of what we’ve gone through with our mental health experiences and about the growth and fulfillment that can come with these journeys. Sharing stories helps us to continue making investments in ourselves, in an effort to improve our mental health.
							br
							br
							| Most of us are very familiar with stories about the bad stuff: loss, stigma, discrimination, and pain. Some of us can get so caught up in stopping the bad stuff from happening that we don’t pause to think about how much better our lives are now than when we were at our lowest point. These stories are universal, and they validate the efforts we put into our wellness.
							br
							br
							| The Better Because Project wants to encourage people to celebrate what’s wonderful in our lives, sometimes as a direct result of what we’ve been through — things that actively make our lives better because of the storms we’ve weathered.
						.twoQuotes
							.quoteContainer#quoteContainerOne
								.borderContainer#borderContainerOne
									p.quoteText#quoteTextOne "My belief in my own resilience is deeper because of the obstacles I've overcome."
							.quoteContainer#quoteContainerTwo
								.borderContainer#borderContainerTwo
									p.quoteText#quoteTextTwo “My sense of gratitude for my current life is stronger because I saw how my life could have continued to play out.”
						br
						br
						p.areaSectionText
							| “Better” doesn’t necessarily mean “well;” It just means… well, better. The Better Because Project is providing hope through stories about how we’ve changed for the better because of what we’ve gone through with our mental health experiences and about the growth and fulfillment that can come with these journeys.
							br
							br
							| Imagine your darkest days as a valley, and the path out of the valley as a steep mountainside. The entire climb up the steep terrain is a journey of “betterment.” In the journey up that mountain, each of us might be at different points along the way.
							br
							br
							| It doesn’t matter if our journeys are different lengths, if we take different paths, or even whether we ever reach the top of the mountain. No matter where we are in our mental health journey, we should all build in more time to pause and enjoy the view: turn around, look behind you, and appreciate how far you’ve come.
							br
							br
							| This project is an opportunity for us to celebrate our successes, provide hope and inspiration to one another, and recognize our achievements. Nothing is too small or too big to share here, and whatever you’ve been through, we want to hear how you survived it and what you’re celebrating today. You never know — what you have to share may just make a crucial difference in a reader’s life.
						.twoQuotes
							.quoteContainer#quoteContainerThree
								.borderContainer#borderContainerThree
									p.quoteText#quoteTextThree "My life is better today because of the ways I've learned to take care of myself."
							.quoteContainer#quoteContainerFour
								.borderContainer#borderContainerFour
									p.quoteText#quoteTextFour “My understanding of human behavior is greater because of what I learned during my mental health journey.”
						br
						br
					section.splitScreen#rebeccaSection
						.splitImageSection
							img(src='/images/rebeccaMassieAbout.jpg', alt='Image of Rebecca Massie')
						.splitTextSection
							h2.splitTitle Rebecca Massie
							h3.splitTitle Founder of The Better Because Project
							p.splitText
								br
								| I am a mental health activist, peer mental health provider, writer, and public speaker. I come to all these positions from my many years as a patient in the mental health system. I use my lived experience to help others feel less alone and help them navigate the mental health system with what I learned while navigating it for myself. I also run an OCD peer support group for people in the Bay Area to provide a nonjudgmental and safe space for people to feel supported and socialize without needing to hide any parts of themselves. I also have interests outside of the mental health field.
								br
								br
								| I was a photographer back before digital photography really took over. I loved analog photography and could spend days on end printing black and white portraits of strangers I took on the streets of San Francisco, New York, and around the world. I enjoy going to modern art museums and galleries. You can find me wandering around local museums in my spare time.
								br
								br
								| I live in San Francisco, where I was born and grew up, with my husband, who happened to be my first and only boyfriend, and our very cute dog- Bailey. Ever since I got involved in the peer mental health and lived experience communities, I’ve been hearing stories of how people have improved their lives because of what they went through, so I became interested in post-traumatic growth. This propelled me to start The Better Because Project.
								br
								br
								br
					section.splitScreen#mhasfSection
						.splitImageSection
							a(href='https://www.mentalhealthsf.org')
								img(src='/images/mhasfLogoWhiteBG.jpg', alt='Logo for the Mental Health Association of San Francisco')
						.splitTextSection
							a(href='https://www.mentalhealthsf.org')
								h2.splitTitle Mental Health Association of San Francisco
							h3.splitTitle Partnering Organization of The Better Because Project
							p.splitText
								br
								| The Mental Health Association of San Francisco (MHASF) is a proud partner of The Better Because Project. MHASF is a 90% peer-run organization that has supported fellow peers with mental health challenges for over 70 years.
	include partials/footer
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
	link(href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet")
	script(src='/scripts/siteWide.js')
	script(async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
