extends partials/layout
block inlineCSS
    link(rel='stylesheet', href='/sass/legal.css')
block content
    include partials/navigation
    main#sectionMain
        h2.bar Privacy Policy
        p.update This policy describes how Rebecca Massie (an individual) (“Massie”) collects, uses, and shares personal information.
        #policy
            .point
                h3.pointHeader I. Types of Information Collected
                subtitle The following provides examples of the type of information that Massie collects from you and how she uses that information.
                p.pointPara 
                    table
                        tbody
                            tr
                                th
                                    br
                                    |   Context
                                    br
                                th
                                    br
                                    |   Types
                                    br
                                    |   of Data
                                    br
                                th
                                    br
                                    |   Primary
                                    br
                                    |   Purpose for Collection 
                                    br
                                    |   and Use of Data
                                    br
                            tr
                                td
                                    br
                                    |   Participant Information 
                                    br
                                td
                                    br
                                    |   Massie collects the name, and contact information,
                                    br
                                    |   personal statement, and photograph of participants.  
                                    br
                                td
                                    br
                                    |   This information is collected to complete the agreement
                                    br
                                    |   between the participant and Massie. 
                                    br
                            tr
                                td
                                    br
                                    |   Cookies and first party tracking
                                    br
                                td
                                    br
                                    |   We use cookies and clear GIFs. “Cookies”
                                    br
                                    |   are small pieces of information that a website sends to a computer’s
                                    br
                                    |   hard drive while a web site is viewed. See our Cookie Policy for
                                    br
                                    |   more information.
                                    br
                                td
                                    br
                                    |   We have a legitimate interest in making our
                                    br
                                    |   website operate efficientl. 
                                    br
                            tr
                                td
                                    br
                                    |   Cookies and Third Party Tracking
                                    br
                                td
                                    br
                                    |   We participate
                                    br
                                    |   in behavior-based advertising, this means that a third party uses technology
                                    br
                                    |   (e.g., a cookie) to collect
                                    br
                                    |   information about your use of our website so that they can provide
                                    br
                                    |   advertising about products and services tailored to your interests on our
                                    br
                                    |   website, or on other websites.  See our
                                    br
                                    |   Cookie Policy for
                                    br
                                    |   more information. 
                                    br
                                td
                                    br
                                    |   We have a
                                    br
                                    |   legitimate interest in engaging in behavior-based advertising and capturing
                                    br
                                    |   website analytic.
                                    br
                            tr
                                td
                                    br
                                    |   Demographic Information
                                    br
                                td
                                    br
                                    |   Massie collects personal information, such as your age
                                    br
                                    |   or location.  
                                    br
                                td
                                    br
                                    |   Massie has a legitimate interest in understanding her
                                    br
                                    |   users and providing tailored services.
                                    br
                            tr
                                td
                                    br
                                    |   Distance Information
                                    br
                                td
                                    br
                                    |   When you use one of our Apps we collect your
                                    br
                                    |   location from the GPS, Wi-Fi, and/or cellular technology in your device to
                                    br
                                    |   determine your location and your distance from a store that sells our
                                    br
                                    |   products.  
                                    br
                                td
                                    br
                                    |   We have a legitimate interest in understanding
                                    br
                                    |   our users and providing tailored services. 
                                    br
                                    |   In some contexts our use is also based upon your consent to provide us
                                    br
                                    |   with geo location information.
                                    br
                            tr
                                td
                                    br
                                    |   Email Interconnectivity
                                    br
                                td
                                    br
                                    |   If you receive email from Massie, she uses
                                    br
                                    |   certain tools to capture data related to when you open her message, click on
                                    br
                                    |   any links or banners it contains and make purchases.
                                    br
                                td
                                    br
                                    |   Massie has a legitimate interest in
                                    br
                                    |   understanding how you interact with her communications to you.
                                    br
                            tr
                                td
                                    br
                                    |   Employment
                                    br
                                td
                                    br
                                    |   If you apply for
                                    br
                                    |   a job posting, or become an employee, we collect information necessary to
                                    br
                                    |   process your application or to retain you as an employee.  This may include, among other things, your
                                    br
                                    |   Social Security Number.  Providing this
                                    br
                                    |   information is required for employment.
                                    br
                                td
                                    br
                                    |   We use
                                    br
                                    |   information about current employees to perform our contract of employment, or
                                    br
                                    |   the anticipation of a contract of employment with you.  In some contexts, we are also required by
                                    br
                                    |   law to collect information aboutour
                                    br
                                    |   employees.  We also have a legitimate
                                    br
                                    |   interest in using your information to have efficient staffing and work force
                                    br
                                    |   operations. 
                                    br
                            tr
                                td
                                    br
                                    |   Feedback/Support
                                    br
                                td
                                    br
                                    |   If you provide us feedback or contact Massie for
                                    br
                                    |   support she will collect your name and e-mail address, as well as any other
                                    br
                                    |   content that you send to her, in order to reply.
                                    br
                                td
                                    br
                                    |   Massie has a legitimate interest in receiving, and
                                    br
                                    |   acting upon, your feedback or issues.
                                    br
                            tr
                                td
                                    br
                                    |   Mailing List
                                    br
                                td
                                    br
                                    |   When you sign up for one of Massie’s mailing lists she
                                    br
                                    |   collects your email address or postal address.    
                                    br
                                td
                                    br
                                    |   Massie has a legitimate interest in sharing information
                                    br
                                    |   about the Better Because Project.
                                    br
                            tr
                                td
                                    br
                                    |   Mobile Devices
                                    br
                                td
                                    br
                                    |   Massie collects information from your
                                    br
                                    |   mobile device such as unique identifying information broadcast from your
                                    br
                                    |   device when visiting Massie’s website.
                                    br
                                td
                                    br
                                    |   Massie has a legitimate interest in
                                    br
                                    |   identifying unique visitors, and in understanding how users interact with her
                                    br
                                    |   website on their mobile devices.
                                    br
                            tr
                                td
                                    br
                                    |   Order Placement 
                                    br
                                td
                                    br
                                    |   We collect your name, billing address, shipping
                                    br
                                    |   address, e-mail address, phone number, and credit card number when you place
                                    br
                                    |   an order.
                                    br
                                td
                                    br
                                    |   We use your information to perform our contract
                                    br
                                    |   to provide you with productsor services.
                                    br
                p.pointPara In addition to the information that Massie collects from you directly, she may also receive information about you from other sources, including third parties, partners, her affiliates, or publicly available sources. 
            .point
                h3.pointHeader II. Use and Processing of Information
                subtitle | In addition to the purposes and uses described above, Massie uses information in the following ways:
                ul.pointPara
                    li To identify when you visit her website.
                    li To provide services.
                    li To improve her services.
                    li To conduct analytics.
                    li To respond to inquiries related to support, employment, opportunities, or other requests.
                    li To send promotional materials, including information relating to her services.
                    li For internal administrative purposes, as well as to manage her relationships.
                p.pointPara Although the sections above describe Massie's primary purpose in collecting your information, in many situations she has more than one purpose. As a result, her collection and processing of your information is based in different contexts upon your consent, her need to perform an agreement with you, her obligations under law, and/or her legitimate interest in conducting her affairs.

            .point 
                h3.pointHeader III. Sharing of Information
                subtitle In addition to the specific situations discussed elsewhere in this policy, Massie discloses information in the following situations:
                ol.pointPara
                    li
                        strong 
                            | Other Disclosures with Your Consent. 
                        | Massie may ask if you would like her to share your information with other unaffiliated third parties who are not described elsewhere in this policy.
                    li
                        strong 
                            | Other Disclosures without Your Consent. 
                        | Massie may disclose information in response to subpoenas, warrants, or court orders, or in connection with any legal process, or to comply with relevant laws. She may also share your information in order to establish or exercise her rights, to defend against a legal claim, to investigate, prevent, or take action regarding possible illegal activities, suspected fraud, safety of person or property, or a violation of her policies, or to comply with your requests or for the provision of services by a third party intermediary.
                    li
                        strong 
                            | Service Providers. 
                        | Massie may share your information with service providers. Among other things service providers may help her to administer her website, conduct surveys, provide technical support, process payments, and assist in the fulfillment of orders.
            .point
                h3.pointHeader IV. Your Choices
                subtitle You can make the following choices regarding your personal information:
                ol.pointPara 
                    li
                        strong
                            | Access To Your Personal Information. 
                        | You may request access to your personal information by contacting us at the address described below. If required by law, upon request, Massie will grant you reasonable access to the personal information that she has about you.
                    li
                        strong
                            | Deletion of Your Personal Information. 
                        | Typically Massie retains your personal information for the period necessary to fulfill the purposes outlined in this policy, unless a longer retention period is required or permitted by law. You may, however, request information about how long Massie keeps a specific type of information, or request that she delete your personal information by contacting us at the address described below. If required by law Massie will grant a request to delete information, but you should note that in many situations she must keep your personal information to comply with her legal obligations, resolve disputes, enforce her agreements, or for another purpose.
                    li
                        strong
                            | Objection to Certain Processing.  
                        | You may object to Massie’s use of your personal information by contacting her at the address described below. 
                    li
                        strong
                            | Online Tracking. 
                        | Massie’s website does not currently recognize automated browser signals regarding tracking mechanisms, which may include “Do Not Track” instructions.
                    li
                        strong
                            | Informational Emails. 
                        | You may choose to provide Massie with your email address for the purpose of allowing her to send free newsletters, surveys, and other materials to you. You can stop receiving these informational emails by following the unsubscribe instructions in e-mails that you receive. If you decide not to receive informational emails, she may still send you service related communications. 
                    li
                        strong
                            | Revocation Of Consent. 
                        | If you revoke your consent for the processing of personal information then Massie may no longer be able to provide you services. In some cases, Massie may limit or deny your request to revoke consent if the law permits or requires her to do so, or if she is unable to adequately verify your identity. You may revoke consent to processing (where such processing is based upon consent) by contacting us at the address described below.
            .point 
                h3.pointHeader V. How Personal Information is Protected.
                p.pointPara 
                    | No method of transmission over the Internet, or method of electronic storage, is fully secure. While Massie uses reasonable efforts to protect your personal information from unauthorized access, use, or disclosure, she cannot guarantee the security of your personal information. In the event that she is required by law to inform you of a breach to your personal information she may notify you electronically, in writing, or by telephone, if permitted to do so by law.
            .point 
                h3.pointHeader VI. Miscellaneous
                subtitle The following additional information relates to Massie's privacy practices:
                ul.pointPara
                    li
                        strong
                            | Third Party Applications/Websites. 
                        | Massie has no control over the privacy practices of websites or applications that she do not own.
                    li
                        strong
                            | Changes To This Privacy Policy. 
                        | Massie may change this privacy policy and practices over time. To the extent that this policy changes in a material way, the policy that was in place at the time that you submitted personal information to Massie will generally govern that information unless she receives your consent to the new privacy policy. 
            .point
                h3.pointHeader VII. Contact Information
                p.pointPara If you have any questions, comments, or complaints concerning these privacy practices please contact Massie at the appropriate address below. She will attempt to respond to your requests and to provide you with additional privacy-related information.
                a(href='mailto:rebecca@thebetterbecauseproject.org') Email Massie at rebecca@thebetterbecauseproject.org
            .point
                h3.pointHeader About the Policy
                p.pointPara
                    | Last Revised: 05/13/2019
                    br
                    br
                    | Effective Date: 05/13/2019
    include partials/footer
    script(src='/scripts/siteWide.js')