extends partials/layout
block inlineCSS
	link(rel='stylesheet', href='/sass/share-story.css')
block content
	include partials/navigation
	main#sectionMain
		#heroImageOverlay
			#heroImage
				.centerPara
					h1 Story Submission Process
					p
						| Thanks for thinking about sharing your story if you’re 18 years or older.
						| We use Medium to host the stories. Below you can the find the instructions for
						| setting up a Medium account and submitting your story. You’ll also find guidelines
						| on what kind of story to submit, what the editing process looks like, and the
						| timeline to expect.
					p.bold How to submit your story on Medium:
					p.bold Create a Medium.com account
					p
						| In order to submit a story on Medium, you’ll need to set up an account. If you
						| already have an account, skip to the next step! You’re ahead of the curve!
					p
						| Setting up an account on Medium.com involves going to the website and logging in
						| with your Google, Facebook, or Twitter account. There’s also an option to create
						| an account using an email and password. If you’d like to submit anonymously, we
						| recommend creating an anonymous email-based account and submitting under that.
						| Remember to make your Medium username “Anonymous” so your story is published with
						| that username.
					p.bold Reach out to us to be added as a writer!
					p
						| Email the account information you created to our editing staff so that they can add
						| you as a writer to the publication. The best way to do this is to send us your
						| email address that you used to create your Medium account with and to give us your
						| user ID. You can find your user ID by clicking on your profile (in the upper right
						| corner). It will be listed beneath your name and begin with a @ symbol. You can
						| also see in the image below where to find your username.
					img(src='/images/shareStory1.png', height='478' width='144')
					p
						| Once you’re added as a writer, you’ll be able to submit your story to the
						| publication for editing and review.
					p
						| To share your user ID and email address that you can be reached at with our editing
						| staff, send an email to #[a(href='mailto:nadia.kim.w@gmail.com') our editor, Nadia Woo],
						| with “Request to be added as a writer” as the subject. We’ll get back to you and add
						| you to to the publication as soon as possible!
					p.bold Write your Story!
					p
						| Even though you may not be part of the publication just yet, you can still
						| begin to write your story! Once you click on your profile (in the upper right corner),
						| select “New Story,” which will bring you to a blank canvas.
					img(src='/images/shareStory2.png', height='478' width='144')
					p
						| Write your story here, and be sure to include images, formatting, and links to
						| your liking. Be sure that all the images you include are in the public domain!
						| (You can find #[a(href='https://unsplash.com/') public domain images here].)
						| If you submit content with images that are not allowed to be legally distributed,
						| they will be removed or your story may be rejected.
					p.bold Submit your story
					p
						| Once you’ve been added to the publication as a writer, you’ll be able to submit your
						| story to begin the editing process! In order to submit, click the the three dots in
						| the upper right corner and select “Add to publication.”
					img(src='/images/shareStory3.png', height='576' width='288')
					p
						| From there, select #[bold “The Better Because Project”]
						| and submit your story!
					img(src='/images/shareStory4.png', height='367' width='288')
					p.bold Work with our editors
					p
						| Once your story is submitted, our editing team will review the content to ensure you
						| followed the guidelines and may suggest changes to wording, formatting, etc. that
						| will help the story have the greatest impact. Our guidelines include:
					ol
						li Write about your own experience; do not tell others what they *should* or *shouldn’t* do. This means using “I” language about your own experiences and actions, not being prescriptive.
						li No defaming others.
						li No using swear words.
					p
						| Our editing team will do their best to get back to you within 3 weeks.
						| If your story has been pending for some time, and you’d like a status update,
						| please be patient! We’re a small team, and though we’ll do the best we can to
						| give prompt feedback, sometimes it may take some time. We promise your story is
						| important to us, and we’ll get to it as soon as we can.
					p
						| Once your story has received feedback, we encourage you to reply directly to
						| comments, make direct edits in the story in-line with the requested changes, and
						| let us know when your story is ready for re-review by emailing us. You’ll be able
						| to see your drafts and any comments on it in the “drafts” section of your stories
						| on Medium.
					p
						| To find the “drafts” section of your stories, click on your profile (in the upper
						| right corner) and then select “stories” which will bring you to the drafts section
						| of your account.
					img(src='/images/shareStory5.png', height='439' width='150')
					p
						| Once all comments have been resolved within a two week period, we’ll publish your
						| story and you’ll receive an email from Medium with a link to see and share the
						| published content!
					p
						| If you don’t respond to our edits within two weeks of us leaving you comments on
						| your story, then The Better Because Project reserves the right to edit your story
						| for content, clarity, and length.
					h2 Story Submission Guidelines:
					h3 What we’re looking for in stories
					p
						| Your story of up to 1,500 words sharing what you’ve been through, what you’ve
						| learned, and what’s better in your life because of what you’ve experienced.
					p
						| When writing your story, focus on painting a picture of what your life was like
						| when you were in the thick of your mental health challenges. It’s important to
						| remember that the purpose of The Better Because Project is to share how these
						| challenges have made us better! Try to spend the bulk of your writing on how your
						| life is better because of what you learned from your challenges and how you use
						| those skills in your life now. Remember to connect your newfound skills to your
						| mental health journey. Then, describe your life now. There’s no need to wrap
						| your story up in a pretty little bow at the end; we’re all works in progress. It’s
						| often very helpful to mention a few things you’re still working on to remind readers
						| of this simple fact.
					p.bold
						| Some of your experiences along your mental health journey may include, but
						| aren’t limited to:
					ul
						li Suicidality/suicide attempts
						li Self-harm
						li Homelessness
						li Hospitalizations
						li Job losses
						li Loss of relationships
						li Substance use
						li Hitting rock bottom (whatever that means to you)
					p
						| Mental health challenges are on a continuum. If none of the above pertain to
						| your lived experience, that doesn’t make your story any less real or worth sharing.
						| If you’e human and have struggled with something that affected your functioning in
						| life, we encourage you to share your story.
					P.bold Some of what’s better for you may include, but isn’t limited to:
					ul
						li Learning that you are the expert of your own experiences
						li Developing wellness and stress management skills
						li Building support networks
						li Practicing patience with yourself and others
						li Becoming more compassionate and community-minded
					p.bold If you’re not sure what to say, here are some prompts to get you started:
					ul.centered
						li How is your life better or different in a positive way because of your mental health experiences?
						li What would you want to say to someone who’s going through something similar to what you experienced?
						li What do you know now that you wish you’d known when you were at your lowest point?
						li What are some of the unexpected ways that the things you’ve experienced have made your life better today?
						li What part of your achievements in your mental health journey do you want us to celebrate with you?
					p.bold Please include a profile photo of yourself.
					p
						| If submitting your story via Medium doesn’t work for you, then
						| #[a(href='') email our editor, Nadia Woo], and we’ll work with you to fix that.
	include partials/footer
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
	link(href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet")
	script(src='/scripts/siteWide.js')
	script(async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
