extends partials/layout
block inlineCSS
    link(rel='stylesheet', href='/sass/legal.css')
block content
    include partials/navigation
    main#sectionMain
        h2.bar Terms of Use
        p.update 
            | The Better Because Project (“we” or “us”), owns and operates this website. These Terms of Use (“Terms”) constitute a legally binding agreement made by and between you and us. These Terms govern your use of and the information we make available on the website (collectively, the “Site”).
        p.update
            | BY ACCESSING OR USING ANY PART OF THE SITE, YOU AGREE THAT YOU HAVE READ, UNDERSTOOD AND AGREED TO BE BOUND BY THESE TERMS, INCLUDING THE LIABILITY LIMITATIONS. IF YOU DO NOT AGREE TO BE SO BOUND, YOU MUST IMMEDIATELY CEASE USE OF THE SITE.
        p.update
            | If you have any questions about these Terms, please contact us by email at 
            a#emailLink(href='mailto:rebecca@thebetterbecauseproject.org') rebecca@thebetterbecauseproject.org

        #policy
            .point
                h3.pointHeader I. General
                ul.pointPara 
                    li 
                        strong 
                            | 1.1 Usage Restrictions. 
                        | You agree to use the Site only as permitted in these Terms and in compliance with all applicable laws. You will not (a) modify, reproduce, perform, display, republish, post, transmit, translate, copy or create derivative works of, or in any other way exploit or utilize the content on the Site, except as expressly permitted herein, or (b) harvest or collect information or data regarding other users of the Site.
                    li 
                        strong 
                            | 1.2 Privacy Policy. 
                        | Our Privacy Policy (which describes how we collect, use and disclose your data and your consent to such collection, use, and disclosure) is incorporated into and is a part of these Terms.
            .point
                h3.pointHeader II. Intellectual Property; Third-Party Content.
                ul.pointPara 
                    li 
                        strong 
                            | 2.1 Intellectual Property Rights. 
                        | The Site, content, visual interfaces, information, graphics, design, compilation, computer code, products, software, services, and all other elements of the Site (“Content”), the trademarks, service marks and logos contained therein (“Marks”), the design of the Site (“Site Design”), and all software and other technology used to provide the Platform and/or Services (“Technology”), are owned by or licensed to us. Content is provided to you “as is” for your information and personal use only and may not be used, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever unless you are the owner of the Content. We reserve all rights not expressly granted in and to the Marks, Site Design and Technology.
                    li 
                        strong 
                            | 2.2 Third-Party Content. 
                        | The Site contains information and content provided by third parties. Such third party is and shall remain the owner of their Content. We do not endorse, and we are not liable for any third-party Content. Any use or reliance on any Content or materials posted via the Site or obtained by you through the Site is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or endorse any opinions expressed via the Site. All Content is the sole responsibility of the person who originated such Content.
                    li 
                        strong 
                            | 2.3 License by You to Use Feedback. 
                        | You grant to us a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, transferable, sub-licensable license to use and incorporate into the Site any suggestion, enhancement request, recommendation, correction or other feedback provided by you relating to the Site. We will not be obligated to credit you for such feedback or hold any such feedback in confidence.
            .point
                h3.pointHeader III. DMCA Copyright Infringement Takedown Policy.
                ul.pointPara 
                    li 
                        strong 
                            | 3.1 Infringement Notification. 
                        | We respect the rights of others and we expect users of our Site to do the same. These Terms prohibit the infringement of the copyrights of others, and it is also our policy that we may remove, suspend, terminate access, or take other appropriate action against repeat offenders. We may also remove Content that in our sole discretion appears to infringe the intellectual property rights of others.
                    li
                        strong
                            | 3.2 How to File and Infringement Notification. 
                        | If you have evidence, know, or have a good faith belief that Content residing on or accessible through our Site or content deployed by us infringes a copyright which you own or for which you are a designated agent, please send a notice of infringement via email to: 
                        a(href='mailto:rebecca@thebetterbecauseproject.org') rebecca@thebetterbecauseproject.org 
                p.pointPara Send such notice with the information that sets forth the items specified below:
                ul.pointPara
                    li Identify the copyrighted work claimed to have been infringed. If multiple copyrighted works are covered by a single notification, provide a representative list of such works.
                    li Identify the material that is claimed to be infringing or to be the subject of infringing activity. Include information reasonably sufficient to permit us to locate the material. Please provide a URL and/or screenshots for each item. Include the specific asset(s) or page(s) that you claim to be infringing. Say “entire work” ONLY if all assets/pages in a collection/document are infringing.
                    li Include details of your claim to the material, or your relationship to the material’s copyright holder.
                    li Provide your full name, address, and telephone number should we need to clarify your claim.
                    li Provide a working email address where we can contact you to confirm your claim.
                    li If true, include the following statement: “I have a good faith belief that use of the copyrighted materials described above as the allegedly infringing web pages or content is not authorized by the copyright owner, its agent, or the law.”
                    li If true, include the following statement: “I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the copyright owner to make this complaint.”
                    li Sign the document, physically or electronically.
                p.pointParaANY NOTICE THAT DOES NOT COMPLY WITH THE REQUIREMENTS OF TITLE 17, UNITED STATES CODE, SECTION 512(c)(3) WILL NOT RECEIVE A RESPONSE. NOTHING IN THIS POLICY IS INTENDED TO EXPAND OR SUPPLEMENT THE LEGAL RIGHTS, PROCEDURES AND REMEDIES AUTHORIZED AND GRANTED UNDER THE DMCA. Please note that you may be liable for damages, including but not limited to costs and attorneys’ fees, under the DMCA if you knowingly materially misrepresent: (a) that material on the Site infringes upon your copyright; or (b) that material on the Site was removed or disabled by mistake or misidentification. We reserve the right to remove Content that violates the Terms, including, impersonation, or unlawful conduct.
            .point
                h3.pointHeader IV. Disclaimer.
                ul.pointPara
                    li 4.1 THE CONTENT ON THIS SITE IS FOR INFORMATION PURPOSES ONLY. WE DO NOT PROVIDE PROFESSIONAL MENTAL HEALTHCARE ADVICE, DIAGNOSIS, OR TREATMENT OR ENGAGE IN ANY CONDUCT THAT REQUIRES A PROFESSIONAL LICENSE. NOTHING CONTAINED ON THE SITE SHOULD BE CONSTRUED AS ANY FORM OF MEDICAL OR PSYCHOLOGICAL ADVICE, DIAGNOSIS, OR SUBSTITUTE FOR ANY QUALIFIED HEALTHCARE CONSULTATION. YOU ARE URGED AND ADVISED TO SEEK THE ADVICE OF A HEALTHCARE PROFESSIONAL IF YOU ARE EXPERIENCING EMOTIONAL DISTRESS OR TRAUMA FOR ADVICE, DIAGNOSIS, TREATMENT OPTIONS, AND RECOMMENDATIONS FOR THERAPEUTIC SERVICES AND FOR ANSWERS TO YOUR PERSONAL QUESTIONS AND NEEDS.
            .point
                h3.pointHeader V. INDEMNIFICATION.
                ul.pointPara
                    li
                        strong
                            | 5.1 Indemnification by You. 
                        | You will defend us for any and all fines, penalties, loss, damages, liabilities, expenses (including attorney’s fees), from any and all claims, demands, suits and proceedings made or brought against us by a third party (including but not limited to a governmental entity) (each a “Claim”) based on a potential or actual allegation that:(a) the use of Content violates, infringes or misappropriates any third party’s intellectual property, privacy, personality or other rights, or violates applicable law, or (b) a breach of these Terms by you.
            .point
                h3.pointHeader VI. Limitation of Liability and Claims.
                ul.pointPara
                    li
                        strong
                            | 6.1 Limitation of Liability. 
                        | IN NO EVENT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WILL WE BE LIABLE FOR ANY RELIANCE BY YOU OR ANY THIRD PARTY ON ANY INFORMATION OR CONTENT OBTAINED FROM THE SITE, OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES, WHETHER FOR TORT (INCLUDING NEGLIGENCE), CONTRACT, BREACH OF WARRANTY OR ANY OTHER CAUSE OF ACTION OR THEORY OF LIABILITY, WHETHER OR NOT FORESEEABLE AND HOWEVER RISING, AND EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THESE TERMS, WHETHER FOR TORT (INCLUDING NEGLIGENCE), CONTRACT, BREACH OF WARRANTY OR ANY OTHER CAUSE OF ACTION OR THEORY OF LIABILITY, WILL NOT EXCEED $100. THE LIMITATIONS HEREIN WILL APPLY EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE. THIS PROVISION IS NOT INTENDED TO EXCLUDE LIABILITY THAT WE MAY NOT EXCLUDE UNDER APPLICABLE LAW.
                    li
                        strong
                            | 6.2 Limitation on time to file claims. 
                        | YOU MUST FILE ANY CLAIM ARISING FROM OR RELATED TO THESE TERMS WITHIN ONE (1) YEAR AFTER THE CLAIM AROSE, OR THE CLAIM WILL BE FORFEITED AND FOREVER BARRED.
                    li
                        strong
                            | 6.3 Your rights may vary. 
                        | BECAUSE SOME STATES OR JURISDICTIONS MAY NOT ALLOW LIMITATIONS ON THE DURATION OF IMPLIED WARRANTIES, OR LIMITATIONS ON OR EXCLUSIONS OF CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU DEPENDING ON YOUR STATE OR NATION OF RESIDENCE.
            .point
                h3.pointHeader VII. General Terms.
                ul.pointPara
                    li
                        strong
                            | 7.1 No Waiver; Severability. 
                        | No waiver of any term of these Terms will be binding unless in writing, no waiver of any term of these Terms will be deemed a further or continuing waiver of such term or any other term, and the failure by us to exercise or enforce any right or remedy in these Terms does not waive that right or remedy. If an arbitrator or a court of competent jurisdiction finds any provision of these Terms to be invalid, the parties agree that the court should endeavor to give effect, to the maximum extent permitted by law, to the parties’ intentions as reflected in the provision, and the other provisions of these Terms will remain in full force and effect.
                    li
                        strong
                            | 7.2 Miscellaneous. 
                        | These Terms (and all policies and releases) constitute the entire agreement between you and us and govern your use of Site. These Terms, and any rights or licenses granted hereunder, may not be assigned or delegated by you. These Terms may be assigned or delegated by us without restriction. These Terms bind and inure to the benefit of each party and the party’s successors and permitted assigns.
                        br
                        | These A party’s failure or delay in exercising any right, power or privilege under these Terms will not waive its rights to exercise such right, power, or privilege in the future, nor will any single or partial exercise of any right, power or privilege preclude any other or further exercise of such right, power, or privilege, or the exercise of any other right, power, or privilege under these Terms. You agree to comply with all applicable laws in your use of the Site.
            .point
                h3.pointHeader VIII. The Better Because Project
                p.pointPara If you have any questions, comments, or complaints concerning these privacy practices please contact Massie at the appropriate address below. She will attempt to respond to your requests and to provide you with additional privacy-related information.
                a(href='mailto:rebecca@thebetterbecauseproject.org') Email Massie
            .point
                h3.pointHeader About the Policy
                p.pointPara
                    | Last Revised: 05/13/2019
                    br
                    br
                    | Effective Date: 05/13/2019
    include partials/footer
    script(src='/scripts/siteWide.js')